html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.contenedor{ 
    display: flex;
    flex-direction: column-reverse;
    max-width: 95%;
    margin: 0 auto;
}

.contenedor2{
    display: flex;
    flex-direction: column;
}

.formulario{
    display: flex;
    flex-direction: column;
}

.country {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0 auto;

}

.check {
    display: flex;
    align-items: center;

}

.check input{
    margin-right: 1rem;
    width: 21px;
    height: 21px;
}

.contenedor3{
    margin: 6rem auto;
    background-color: #f2f2f2;
    height: 55rem;
    border-radius: 12px;
    width: 100%;
}

.check p{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
}

h2 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
    margin: 0 0 1rem 0;
}

label {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #4f4f4f;

}


input{
    padding: 1.5rem;
    border: 1px solid #828282;
    border-radius: 12px;
    margin-top: 1rem;
    margin-bottom: 2rem;


    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

input:focus {
    outline: none;
    border: 1px solid #F2994A;
  }
  

select {
    padding: 1.5rem;
    border: 1px solid #828282;
    border-radius: 12px;
    margin-top: 1rem;
    margin-bottom: 2rem;

    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

.email-icon{
    background-image: url('src/envelope\ \(1\).svg');
    background-repeat: no-repeat;
    background-position: 3% 50%;
    padding-left: 5rem;

}

.phone-icon {
    background-image: url('src/telephone-fill\ \(1\).svg');
    background-repeat: no-repeat;
    background-position: 3% 50%;
    padding-left: 5rem;

}

.perfil-icon{
    background-image: url('src/person-circle.svg');
    background-repeat: no-repeat;
    background-position: 3% 50%;
    padding-left: 5rem;

}

.address-icon {
    background-image: url('src/house-door.svg');
    background-repeat: no-repeat;
    background-position: 3% 50%;
    padding-left: 5rem;
}

.city-icon{
    background-image: url('src/buildings.svg');
    background-repeat: no-repeat;
    background-position: 3% 50%;
    padding-left: 5rem;
}

.world-icon{
    background-image: url('src/globe-americas.svg');
    background-repeat: no-repeat;
    background-position: 10% 50%;
    padding-left: 4.5rem;
    max-width: 100%;
}

.postal-icon {
    background-image: url('src/mailbox.svg');
    background-repeat: no-repeat;
    background-position: 5.5% 50%;
    padding-left: 4rem;
    width: 100%;
}

.button {
    text-align: center;
    text-decoration: none;
    padding: 2rem;
    border-radius: 12px;
    background-color: #F2994A;
    color:  #FFFFFF;
    width: 15rem;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.5px;
    font-family: 'Montserrat', sans-serif;

    display: flex;
    flex-direction: column;
    margin: 0 0 0 auto;

}

.button:hover{
   background-color: #e07212; 
}

.contenedor4 {
    max-width: 80%;
    margin: 0 auto;
}

.content-product {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: flex-start;

}

.not-margin p{
    margin: 0 0 1.2rem 0;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.5px;
    color: #4e5150;
}

.content-product p{
    padding: 0;
}


.product{
    width: 134.21px;
    height: 136.27px;
    border-radius: 13px;
}

.orang-e{
 color: #F2994A;
}

.raya{
    color: #4e5150;
    font-size: 12px;
    text-decoration: line-through;   
}


.sub-footer {
    margin-top: 7rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    color: #333333;

    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.price {
    font-size: 14px;
    line-height: 17px;
}

.other-footer {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: #333333;

    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.cajita {
    padding: 2rem;
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    position: relative;
    transform: translateY(20%);
}

.three-column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.three-column img{
    border-radius: 6px;
    width: 2rem;
}

.three-column img:hover{
    cursor: pointer;
}

.three-column p{
    margin: 0;
    padding: 0;
}

.color-1 {
    background: #E0E0E0;
}

@media (min-width: 768px) {  
    
.contenedor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    gap: 5rem;
}

.contenedor2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 6rem auto;
    width: 50rem;
}
.formulario{
    display: flex;
    flex-direction: column;
}

.country {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin: 0 auto;
    width: 50rem;
}

.check {
    display: flex;
    align-items: center;
}

.check input{
    margin-right: 2rem;
    width: 21px;
    height: 21px;
}

.contenedor3 {

    margin: 6rem auto;
    background-color: #f2f2f2;
    height: 55rem;
    border-radius: 12px;
    width: 75%;
}

}

@media (max-width: 1024px) {  
    .contenedor{ 
        display: flex;
        flex-direction: column-reverse;
        max-width: 95%;
        margin: 0 auto;
    }
    
}



@media (min-width: 360px) {  
    .contenedor3 {
        margin: 6rem auto;
        background-color: #f2f2f2;
        height: 60rem;
        border-radius: 12px;
        /* width: 100%; */
    }

}

