html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    max-width: 60%;
    margin: 0 auto;

}

.contenedor2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-top: 6rem;
}
.formulario{
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
    margin: 0;
}

label {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #4f4f4f;
}

input{
    padding: 1.5rem;
    border: 1px solid #828282;
    border-radius: 12px;
    margin-top: 1rem;
    margin-bottom: 2rem;

    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

input:focus-visible{

    border: 1px solid #828282;
}

.country {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem;
}

.bloque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.email-icon{
    background-image: url('src/envelope\ \(1\).svg');
    background-repeat: no-repeat;
    background-position: 3% 50%;
    padding-left: 5rem;

}

.phone-icon {
    background-image: url('src/telephone-fill\ \(1\).svg');
    background-repeat: no-repeat;
    background-position: 3% 50%;
    padding-left: 5rem;

}

.perfil-icon{
    background-image: url('src/person-circle.svg');
    background-repeat: no-repeat;
    background-position: 3% 50%;
    padding-left: 5rem;

}

.address-icon {
    background-image: url('src/house-door.svg');
    background-repeat: no-repeat;
    background-position: 3% 50%;
    padding-left: 5rem;
}

.city-icon{
    background-image: url('src/buildings.svg');
    background-repeat: no-repeat;
    background-position: 3% 50%;
    padding-left: 5rem;
}

.world-icon{
    background-image: url('src/globe-americas.svg');
    background-repeat: no-repeat;
    background-position: 5.5% 50%;
    padding-left: 5rem;
}

.postal-icon {
    background-image: url('src/mailbox.svg');
    background-repeat: no-repeat;
    background-position: 5.5% 50%;
    padding-left: 4rem;
}

.button {
    text-align: center;
    text-decoration: none;
    padding: 2rem;
    border-radius: 12px;
    background-color: #F2994A;
    color:  #FFFFFF;
    width: 15rem;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.5px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 33rem;
}


.contenedor3 {
    margin-top: 6rem;
    background-color: #f2f2f2;
    width: 38rem;
    height: 50rem;
    border-radius: 12px;
}